body{
    background-color: #EBE0D5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    colour:#644536 
}

#headshot img{
    width: 10%;
}

#Ideal Job img{
    width: 20%;
    height: auto;
}

#Personal Profile img{
    Width: 20%;
    height: auto;
}



h1{
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #563b1e 
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(125, 95, 58);

}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #5e4932;
}

p{
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 18px;
    colour:#6d5447
}

section{
    border-top: 1px solid #684421;
    padding: 15px 0 0 0;  
}

#container{
    width: 80%;
    max-width: 1200px;
    background-color: burlywood;
    margin: 25px; 
    margin: 25px auto;
    padding: 30px;
}


