body{
    background-color: #EBE0D5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    colour:#644536 
}

#headshot img{
    width: 10%;
    border-radius: 80%;
}

#idealjob img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
}

#personalprofile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
}

h1{
    font-size: 29px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #563b1e 
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(112, 68, 14);

}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #926738;
}

p{
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 18px;
    color:#6e5145
}

section{
    border-top: 1px solid #684421;
    padding: 15px 0 0 0;  
}

#container{
    width: 80%;
    max-width: 1200px;
    background-color: burlywood;
    margin: 25px; 
    margin: 25px auto;
    padding: 30px;
}


