body{
    background-color: #EBE0D5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    colour:#644536 
}

#headshot img {
    width: 90px;
    height: 90px;
}

p{
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 18px;
    colour:#35251D
}

#container{
    width: 85%;
    max-width: 800px;
    background-color: burlywood;
    margin top right bottom left; 
    margin: 25px auto;
    padding: 30px;
}

p{
        width: 60%;
        background-color: #EBE0D5;
        margin: 25px;
        border: 10px solid black;
        padding: 30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2em;
        color: black;
}